<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
      internalLogLevel="Off"
      internalLogFile="c:\temp\internal-nlog.txt">

	<extensions>
		<add assembly="NLog.GoogleChat"/>
	</extensions>

	<targets async="true">
		<!--WebhookUrl ex:https://chat.googleapis.com/v1/spaces/xxxxxxxx/messages?key=xxxxxxxxxxxx&amp;token=xxxxxxxx-->
		<target xsi:type="GoogleChat"
					name="googleChat"
					WebhookUrl="xxx"
					layout="*${level:uppercase=true}*: ${longdate} | ${event-properties:item=Environment} | ${event-properties:item=Application:whenEmpty=MyApp} | ${event-properties:item=UserId} ${newline}${logger} : ${message}${newline}${exception:format=tostring}"/>
	</targets>
	<rules>
		<logger name="*" levels="Info,Error" writeTo="googleChat" />
	</rules>
</nlog>